p {
    display: inline;
}

.questions-link-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 93vh;
    overflow-y: scroll;
    /* border: 2px solid red; */
}

.edit-header{
    width: 70%;
    display: flex;
    justify-content: space-between;
    background-color: #14213d;
    color: #fca311;
    padding: 5px 20px;
    border-radius: 5px;
}

.edit-plus-icon{
    font-size: 23px;
}

.add-new-item{
    padding: 3px 20px;
    border: none;
    border-radius: 5%;
    color: #e5e5e5;
    background-color: #fca311;
    font-weight: 800;
    /* position: fixed; */
    /* top: 12%; */
    /* right: 6%; */
    /* z-index: 1000; */
}

.question-link {
    border: none;
    border-radius: 5px;
    margin: 8px;
    width: 70%;
    padding: 8px;
    font-size: larger;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 0px 5px #1B263B;
    display: flex;
    justify-content: space-between;
}

.edit-delete-buttons button {
    margin: 0px 8px;
    padding: 1px 8px;
    border: none;
    border-radius: 4px;
}

.question-link:hover {
    /* padding: 8px 16px; */
    /* margin: 8px 16px; */
    background-color: #cbf3f0;
    transition-delay: 0.1s;
}

.edit-btn {
    color: white;
    background-color: #2196f3;
    box-shadow: 0px 0px 5px #1B263B;
}

.delete-btn {
    color: white;
    background-color: red;
    box-shadow: 0px 0px 5px #1B263B;
}

.question-body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.edit-input {
    width: 100%;
    padding: 5px;
    border: 1px solid gray;
    color: black;
    font-weight: 600;
    border-radius: 8px;
    margin: 8px 0px;
}

.edit-input-marks {
    width: 30%;
    display: block;
}

.edit-choice {
    position: relative;
}

.edit-selected-badge {
    position: absolute;
    right: 1%;
    top: 31%;
}

.edit-empty-img {
    width: 100%;
    height: 80%;
}


/* 
 */